.fork-label img {
  z-index: 2000;
}
.hl-sticky {
  position: relative;
}
.well-demo {
  overflow: scroll;
  max-height: 500px;
}
.text-angular-dark {
  color: #a6120d;
}
.scroll-along-container {
  position: absolute;
  z-index: 2000;
  left: 0;
  right: 0;
  border-top: 1px solid #337ab7;
}
.scroll-along-container .content {
  display: inline-block;
  float: right;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
}
.navbar {
  margin-bottom: 0;
  -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5);
  border: none;
}
.footer {
  text-align: center;
  padding: 30px 0;
  border-top: 1px solid #e5e5e5;
  background: #f5f5f5 url(images/bg-small.png) no-repeat;
}
.btn-group-call-to-action .glyphicon {
  top: .1em;
  margin-right: 5px;
}
.sticky-buttons {
  padding: 10px 0;
  background-color: #eeeeee;
  -webkit-transition: box-shadow 1s;
  -o-transition: box-shadow 1s;
  transition: box-shadow 1s;
}
.sticky-buttons.is-sticky {
  border-bottom: 1px solid #e2e2e2;
}
.jumbotron {
  background-image: url(images/bg-big.png);
  background-position: top left;
  background-repeat: no-repeat;
}
@media (max-width: 991px) {
  .jumbotron {
    background-position: left -40px;
  }
}
.list-attributes > li {
  margin-bottom: 20px;
}
.main-content {
  background: url(images/bg-small.png) no-repeat top left;
  padding-bottom: 70px;
}
.api-wrapper {
  padding-top: 40px;
}
.demo-wrapper {
  padding-top: 40px;
}
.container-intro {
  margin-bottom: 40px;
}
.demo {
  min-height: 2000px;
  background: url(images/ruler.png) repeat-y top left;
}
[save-content="intro"],
[save-content="css"] {
  display: none;
}
.container-demo .sticky-element {
  min-height: 100px;
  padding: 10px;
  color: #ccc;
  -webkit-box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.4);
  background-color: #333333;
}
.container-demo .sticky-element b {
  color: #fff;
}
.demo-simple .hl-sticky {
  min-height: 100px;
  padding: 10px;
  color: #ccc;
  -webkit-box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.4);
  background-color: #333333;
}
.demo-simple .hl-sticky b {
  color: #fff;
}
.demo-simple .sticks {
  display: none;
}
.demo-simple .is-sticky .sticks {
  display: block;
}
.demo-simple .is-sticky .not-sticky {
  display: none;
}
.demo-media-queries .hl-sticky {
  min-height: 100px;
  padding: 10px;
  color: #ccc;
  -webkit-box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.4);
  background-color: #333333;
}
.demo-media-queries .hl-sticky b {
  color: #fff;
}
.demo-container .hl-sticky {
  min-height: 100px;
  padding: 10px;
  color: #ccc;
  -webkit-box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.4);
  background-color: #333333;
}
.demo-container .hl-sticky b {
  color: #fff;
}
.demo-container .divider {
  height: 300px;
  line-height: 300px;
  text-align: center;
}
.demo-container #sticky-container {
  background-color: #eeeeee;
  -webkit-box-shadow: inset 0 0 20px 0px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 20px 0px rgba(0, 0, 0, 0.2);
}
.demo-sticky-stack .hl-sticky {
  min-height: 100px;
  padding: 10px;
  color: #ccc;
  -webkit-box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.4);
  background-color: #333333;
}
.demo-sticky-stack .hl-sticky b {
  color: #fff;
}
.demo-sticky-stack .divider {
  height: 200px;
  line-height: 200px;
  text-align: center;
}
.demo-sticky-element .becomes-sticky {
  min-height: 100px;
  padding: 10px;
  color: #ccc;
  -webkit-box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.4);
  background-color: #333333;
}
.demo-sticky-element .becomes-sticky b {
  color: #fff;
}
.demo-sticky-element-collection .stack-info {
  margin-bottom: 20px;
}
.demo-sticky-element-collection .becomes-sticky {
  min-height: 100px;
  padding: 10px;
  color: #ccc;
  -webkit-box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.4);
  background-color: #333333;
}
.demo-sticky-element-collection .becomes-sticky b {
  color: #fff;
}
.demo-sticky-element-collection .divider {
  height: 200px;
  line-height: 200px;
  text-align: center;
}
.demo-collections {
  min-height: auto;
}
.demo-collections #header,
.demo-collections .sidebar {
  color: #ccc;
}
.demo-collections #header .sticky,
.demo-collections #header .between-headers {
  min-height: 100px;
  padding: 10px;
  color: #ccc;
  -webkit-box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.4);
}
.demo-collections #header .sticky b,
.demo-collections #header .between-headers b {
  color: #fff;
}
.demo-collections #header .sticky-header1 {
  background-color: #404040;
  z-index: 1;
}
.demo-collections #header .between-headers {
  padding: 10px;
  background-color: #4d4d4d;
  min-height: 50px;
}
.demo-collections #header .sticky-header2 {
  background-color: #595959;
  z-index: 2;
  opacity: .95;
}
@media (min-width: 768px) {
  .demo-collections .content,
  .demo-collections .sidebar {
    min-height: 1500px;
  }
}
.demo-collections .sidebar {
  background-color: #666666;
}
.demo-collections .sidebar .sidebar-space {
  padding: 10px;
}
.demo-collections .sidebar .sticky {
  background-color: #3c3c3c;
  min-height: 100px;
  padding: 10px;
  color: #ccc;
}
.demo-collections .sidebar .sticky b {
  color: #fff;
}
.demo-collections .content {
  padding: 10px 0;
}
.demo-collections .content .sticky-content-title {
  background: #f1f1f1;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 20px 0;
}
.demo-collections .content .sticky-content-title h3 {
  margin: 0;
}
