.demo-collections {

	#header, .sidebar {
		color: #ccc;
	}

	#header {
		.sticky, .between-headers {
			.box-shadow(0 10px 20px 0px rgba(0,0,0, .4));
			min-height: 100px;
			padding: 10px;
		}

		.sticky-header1 {
			background-color: lighten(#000, 25%);
			z-index: 1;
		}

		.between-headers {
			background-color: lighten(#000, 30%);
			min-height: 50px;
		}

		.sticky-header2 {
			background-color: lighten(#000, 35%);
			z-index: 2;
			opacity: .95;
		}
	}

	.sticky {
		b {
			color: #fff;
		}
	}

	.content, .sidebar {
		min-height: 2000px;
	}

	.sidebar {
		background-color: lighten(#000, 40%);

		.sidebar-space {
			padding: 10px;
		}

		.sticky {
			background-color: darken(@color-grey, 10%);
			min-height: 100px;
			padding: 10px;
			color: #ccc;
		}
	}
	.content {
		padding: 10px 0;

		.sticky-content-title {
			background: #f1f1f1;
			border-top: 1px solid #ccc;
			border-bottom: 1px solid #ccc;
			padding: 20px 0;

			h3 {
				margin: 0;
			}
		}
	}
}