.demo-collections {

	#header {
		color: #fff;
	}

	.menu {
		background-color: lighten(#000, 25%);
		min-height: 100px;
		.box-shadow(0 10px 20px 0px rgba(0,0,0, .4));
		z-index: 1;
		padding: 10px;
	}
	.between-menu {
		background-color: lighten(#000, 30%);
		min-height: 50px;
		padding: 10px;
	}
	.sub-menu {
		background-color: lighten(#000, 35%);
		min-height: 100px;
		.box-shadow(0 10px 20px 0px rgba(0,0,0, .4));
		z-index: 2;
		padding: 10px;
		opacity: .95;
	}

	.sidebar {
		min-height: 2000px;
		background-color: lighten(#000, 40%);

		.sidebar-space {
			min-height: 50px;
		}
		.sidebar-sticky {
			min-height: 50px;
			color: #fff;

			&.sidebar-sticky-first {
				background-color: darken(@color-grey, 10%);
			}
			&.sidebar-sticky-second {
				background-color: darken(@color-grey, 20%);
			}
		}
	}
	.content {
		min-height: 2000px;

		.sticky-content-title {
			background: #f1f1f1;
			border-top: 1px solid #ccc;
			border-bottom: 1px solid #ccc;
			padding: 20px 0;

			h3 {
				margin: 0;
			}
		}
	}
}