<div class="jumbotron">
	<div class="container">
		<h1><span class="text-angular-dark">Angular</span> Sticky</h1>
		<p>
			Pure javascript <span class="text-angular-dark">AngularJS</span> directive to make elements stick when scrolling
		</p>
		<div class="btn-group btn-group-call-to-action">
			<a class="btn btn-primary btn-lg" href="https://github.com/harm-less/angular-sticky" target="_blank" role="button"><span class="glyphicon glyphicon-home"></span> Code on Github</a>
			<a class="btn btn-primary btn-lg" href="https://github.com/harm-less/angular-sticky/archive/master.zip" role="button"><span class="glyphicon glyphicon-download"></span> Download</a>
		</div>
	</div>
</div>

<h1>Getting started</h1>
<p>
	This repository contains a set of native AngularJS directives based on Bootstrap's markup and CSS. As a result no dependency on jQuery or Bootstrap's JavaScript is required. The only required dependencies are:
</p>
<ul>
	<li>AngularJS (requires AngularJS 1.4.x or higher, tested with 1.4.9).</li>
	<li>Small size: 16kB (~6kB with gzip compression!)</li>
</ul>

<h2>Installation</h2>
<p>
	As soon as you've got all the files downloaded and included in your page you just need to declare a dependency on the  module:
	angular.module('myModule', ['ui.bootstrap']);
</p>