<div class="jumbotron">
	<div class="container">
		<h1><span class="text-angular-dark">Angular</span> Sticky</h1>
		<p>
			Pure javascript <span class="text-angular-dark">AngularJS</span> directive to make elements stick when scrolling
		</p>
		<div class="btn-group btn-group-call-to-action">
			<a class="btn btn-primary btn-lg" href="https://github.com/harm-less/angular-sticky" target="_blank" role="button"><span class="glyphicon glyphicon-home"></span> Code on Github</a>
			<a class="btn btn-primary btn-lg" href="https://github.com/harm-less/angular-sticky/archive/master.zip" role="button"><span class="glyphicon glyphicon-download"></span> Download</a>
		</div>
	</div>
</div>