<div class="container">
	<h1>About this plugin</h1>
	<p>
		I felt like a proper sticky plugin for Angular didn't exist and I needed certain functionalities that simply didn't exist in open-source repositories yet.
		After I had been inspired by <a href="https://github.com/d-oliveros/ngSticky" target="_blank">ngSticky</a> I used that code and build the features I needed on top of that.
		In the end not much was left from the original code however...
	</p>
	<p>
		The main reason I made this plugin open-source is because I couldn't test it properly.
		The Karma browser that I used in my project was PhantomJS and it cannot handle scrolling very well.
		So I had to move to a non-headless browser and choose Chrome.
		Luckily I could activate Chromium in TravisCI too as this was a requirement for me as well.
	</p>
	<p>
		It's my first proper front-end repository, so feedback is more than welcome.
		Contributing to the project is also a reason I set this up, so feel free.
	</p>
	<p>
		Regards,<br>
		<i>Harm van der werf</i>
	</p>
</div>