<div class="demo-wrapper">
	<div class="container-fluid container-intro">
		<div class="row">
			<div class="col-lg-7 col-md-10">
				<p ng-bind-html="content.intro">
				</p>
			</div>
		</div>
	</div>

	<div class="container-fluid container-demo">
		<div class="row">
			<div class="col-lg-7">
				<uib-tabset>
					<uib-tab heading="Markup" ng-if="hasContent('html');">
						<pre class="code" apply-content="html" content-watch highlight-lang="html"></pre>
					</uib-tab>
					<uib-tab heading="JavaScript" ng-if="hasContent('js');">
						<pre class="code" apply-content="js" content-watch highlight-lang="js"></pre>
					</uib-tab>
					<uib-tab heading="CSS" ng-if="hasContent('css');">
						<pre class="code" apply-content="css" content-watch highlight-lang="css"></pre>
					</uib-tab>
				</uib-tabset>
			</div>
			<div class="col-lg-5">
				<div ui-view class="demo demo-{{demoName}}"></div>
			</div>
		</div>
	</div>
</div>