<div class="jumbotron">
	<div class="container">
		<h1><span class="text-angular-dark">Angular</span> Sticky</h1>
		<p>
			Pure javascript <span class="text-angular-dark">AngularJS</span> directive to make elements stick when scrolling
		</p>
	</div>
	<div hl-sticky="" class="sticky-buttons">
		<div class="container">
			<div class="btn-group btn-group-call-to-action">
				<a class="btn btn-primary btn-lg" href="https://github.com/harm-less/angular-sticky" target="_blank" role="button"><span class="glyphicon glyphicon-home"></span> Code on Github</a>
				<a class="btn btn-primary btn-lg" href="https://github.com/harm-less/angular-sticky/archive/master.zip" role="button"><span class="glyphicon glyphicon-download"></span> Download</a>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<h1>Getting started</h1>
	<p>
		This repository contains a set of native AngularJS directives and services. It can be used without any other dependency except of course Angular.
	</p>
	<p>
		A few noteworthy things:
	</p>
	<ul>
		<li>AngularJS (requires AngularJS 1.4.x or higher, tested with 1.4.9).</li>
		<li>Small size: 16kB (~6kB with gzip compression!)</li>
	</ul>

	<h2>Installation</h2>

	<h3>Bower</h3>
	<p>
		To install Angular Sticky with  <a href="http://bower.io/" target="_blank">Bower</a> use
	</p>
	<pre>bower install angular-sticky-plugin</pre>
	<p>
		Or with <a href="https://www.npmjs.com/" target="_blank">npm
	</a>
	<pre>npm install angular-sticky-plugin</pre>

	<h3>Manually</h3>
	<p>
		Click the download button to download the latest version of the plugin. In the folder <code>dist</code> you'll find the minified and normal JavaScript file.
		Either one is fine to use, it just depends on your needs.
	</p>

	<h3>Adding it to your project</h3>
	<p>
		As soon as you've got all the files downloaded and included in your page you just need to declare a dependency on the module:
	</p>
	<pre>angular.module('myModule', ['hl.sticky']);</pre>

	<h3>Basic example</h3>
	<p>
		This will make an element sticky using the directive <code>hl-sticky</code>:
	</p>
	<pre class="code" apply-content highlight-lang="html">
		<div hl-sticky>I'll become sticky</div>
	</pre>
	<p>
		To see this in action, check out out the <a ui-sref="root.demo-container.demo({name: 'simple'})">demo</a>. What more do you want? Right, more features. Well, that can be arranged.
	</p>

	<hr>

	<h2>Features</h2>
	<p>
		Angular Sticky has been set up in such a way so it uses a lot of the handy features you're probably used to from Angular.
		A combination between between directives and services make the difference between all the other (native) sticky plugins.
		It allows you to have more control over the the look and feel of your sticky elements from both HTML and from code.
	</p>
	<p>
		To get a better understanding of the features, make sure you read through the API documentation.
	</p>
</div>