.fork-label img {
  z-index: 2000;
}
.hl-sticky {
  position: relative;
}
.well-demo {
  overflow: scroll;
  max-height: 500px;
}
.text-angular-dark {
  color: #a6120d;
}
.demo-collections #header {
  color: #fff;
}
.demo-collections .menu {
  background-color: #404040;
  min-height: 100px;
  -webkit-box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.4);
  z-index: 1;
  padding: 10px;
}
.demo-collections .between-menu {
  background-color: #4d4d4d;
  min-height: 50px;
  padding: 10px;
}
.demo-collections .sub-menu {
  background-color: #595959;
  min-height: 100px;
  -webkit-box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.4);
  z-index: 2;
  padding: 10px;
  opacity: .95;
}
.demo-collections .sidebar {
  min-height: 2000px;
  background-color: #666666;
}
.demo-collections .sidebar .sidebar-space {
  min-height: 50px;
}
.demo-collections .sidebar .sidebar-sticky {
  min-height: 50px;
  color: #fff;
}
.demo-collections .sidebar .sidebar-sticky.sidebar-sticky-first {
  background-color: #4d4d4d;
}
.demo-collections .sidebar .sidebar-sticky.sidebar-sticky-second {
  background-color: #333333;
}
.demo-collections .content {
  min-height: 2000px;
}
.demo-collections .content .sticky-content-title {
  background: #f1f1f1;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 20px 0;
}
.demo-collections .content .sticky-content-title h3 {
  margin: 0;
}
.navbar {
  margin-bottom: 0;
}
